Pack 4/4.4.miriamdepalma.dtd

<!ELEMENT llistat (futurs+, divises+, bons+, lletres+)>
<!ELEMENT futurs (mercat?)>
<!ELEMENT mercat (procedencia)>
<!ELEMENT procedencia (#PCDATA)>
<!ELEMENT divises (#PCDATA)>
<!ELEMENT bons (pais_procedencia)>
<!ELEMENT pais_procedencia (EMPTY)>
<!ELEMENT lletres (#PCDATA)>
<!ATTLIST futurs preu CDATA #REQUIRED>
<!ATTLIST futurs estable CDATA #IMPLIED>
<!ATTLIST bons preu CDATA #REQUIRED>
<!ATTLIST bons estable CDATA #IMPLIED>
<!ATTLIST lletres preu CDATA #REQUIRED>